.py-5{
    background-color: #F2DCA4;
}

.bg-light{
    background-color: #F2DCA4;
}

.bg-dark{
    background-color:#98C8C4;
}

.titre_page{
    font-size: large;
    font-family: Benedict, serif;
}

.card{
    background-color:#EAAD87;
}

